body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.placeholder {
  height: 100%;
  width: 100%;
}

/** Navbar */
.nav-wrapper {
  background-color: #212529;
  color: white;
}

.nav-wrapper a {
  color: white;
  text-decoration: none;
}

.nav-item {
  padding: 5px;
}

/** Header */
.header {
  background-color: teal;
  height: 600px;
}

.header-content {
  margin-top: 75px;
  margin-left: 100px;
}

.header-content h1 {
  font-size: 75px;
}

.header-bottom {
  margin-top: 95px;
  color: white;
  font-size: 36px;
}

.header-bottom a {
  color: white;
  font-family: serif;
}

/** About */
.about-container {
  margin: 50px;
}

.about-title {
  border-bottom: 2px solid lightgrey;
}

.about-content {
  padding: 50px;
}

/** Portfolio */
.portfolio-container {
  margin: 50px;
}

.portfolio-title {
  border-bottom: 2px solid lightgrey;
  margin-bottom: 50px;
}

/** excerpt box */
.excerpt-box {
  margin-bottom: 20px;
  }

.excerpt-box a {
  text-decoration: none;
  color: black;
}

.excerpt-box a:hover {
  color: teal;
}